<div class="icon" style="flex-grow: 1">
  <img src="./assets/images/Circle-icons-dev.svg.png" />
</div>
<nav style="flex-grow: 9">
  <ul>
    <li style="flex-grow: 1">
      <a href="index.html" class="link-active">Home</a>
    </li>
    <li style="flex-grow: 1">
      <a href="project.html">My Project</a>
    </li>
    <li style="flex-grow: 7"></li>
    <li class="btn-contact">
      <a href="contact.html">Contact Me</a>
    </li>
  </ul>
</nav>