{{#>layout}}
    <div class="container">
      <div class="contact-section">
        <form id="contactForm" class="contact-form">
            <h1>Contact Me</h1>
            <div class="forms">
              <div class="form-field">
                  <label for="name">Name</label>
                  <input id="name" name="name" class="form-input" type="text" placeholder="name" required />
              </div>

              <div class="form-field">
                  <label for="email">Email</label>
                  <input id="email" name="email" class="form-input" type="email" placeholder="email" required />
              </div>

              <div class="form-field">
                  <label for="phoneNumber">Phone Number</label>
                  <input id="phoneNumber" name="phoneNumber" class="form-input" type="text" placeholder="phone number" required/>
              </div>
              
              <div class="form-field">
                  <label for="subject">Subject</label>
                  <input id="subject" name="subject" class="form-input" placeholder="subject" required></input>
              </div>

              <div class="form-field">
                  <label class="message-contact" for="message">Your Message</label>
                  <textarea id="message" name="message" class="form-input" placeholder="type your message" required></textarea>
              </div>

              <button type="submit" class="form-submit-button">Submit</button>
          </div>
        </div>
    </div>

    <script src="./js/script.js"></script> 
{{/layout}}