{{#> layout }}
<div class="container">
  {{#if messages.success}}
  <div class="alert alert-success" role="alert">
      {{messages.success}}
  </div>
  {{/if}}
  {{{flashMessage "Welcome to our personal web"}}}
  <main>
    <div class="content">
      <div class="introduction">
        <div class="summary">
          <h2>Hi, Welcome to my new page!</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
            quod doloremque tenetur esse tempora dicta facilis dolorum,
            fugit est culpa reprehenderit eos maxime eveniet ex tempore
            porro repudiandae nesciunt natus! Voluptatibus corporis
            inventore eveniet possimus est placeat ratione quis enim modi ut
            voluptatem harum ullam perspiciatis earum, delectus ducimus rem
            molestiae. Quia, repudiandae laboriosam recusandae similique
            unde ex! Omnis, ducimus. Iusto tempore culpa enim repudiandae
            molestias. Nihil similique quae odio ratione asperiores velit,
            maiores incidunt nam adipisci soluta fugit odit suscipit dolorem
            provident natus, rem vitae harum ipsum culpa sunt.
          </p>
        </div>
        <div class="button">
          <div class="btn-contact">
            <a href="contact.html" target="_blank" title="contact me">
              Contact
            </a>
          </div>
          <div class="btn-cv">
            <a href="#" title="Download CV">
              download CV&nbsp;&nbsp;
              <i class="fa-solid fa-download"></i>
            </a>
          </div>
        </div>
        <div class="socmed">
          <a href="#">
            <i class="fa-brands fa-linkedin-in fa-3x"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-twitter fa-3x"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-instagram fa-3x"></i>
          </a>
          <a href="#">
            <i class="fa-brands fa-facebook fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-photo">
          <img src="./assets/images/photo.jpg" alt="My Selfie" title="My Selfie" />
        </div>
        <div class="card-caption">
          <h3>Muhammad Rizal</h3>
          <p>Fullstack Developer</p>
        </div>
      </div>
    </div>
  </main>
</div>
{{/layout}}