{{#> layout title="Homepage" }}
<div class="container">
  {{#if messages.success}}
  <div class="alert alert-success" role="alert">
      {{messages.success}}
  </div>
  {{/if}}
  <main>
    <div class="content">
      <div class="introduction">
        <div class="summary"><
          <h2>Hi, Welcome to my personal page</h2><hr/>
          <p>
            Hi, I’m a passionate Fullstack Web Developer with experience in Node.js (Express) and currently exploring React.js to enhance my skills in building dynamic and user-friendly web applications. My journey in software development is driven by my long-term goal to become a Tech Architect who creates scalable and efficient systems. With a mindset of continuous learning, I’m always up for challenges that push me to grow both technically and professionally. I aim to combine my knowledge in fullstack development with scalable architecture design to build impactful applications.
          </p>
        </div>
        <div class="button">
          <div class="btn-contact">
            <a href="contact.html" target="_blank" title="contact me">
              Contact
            </a>
          </div>
          <div class="btn-cv">
            <a href="https://drive.google.com/file/d/19rF-eoDL1PNCnB3MUite5fSMrTFe06B6/view?usp=sharing" title="Download CV" target="_blank">
            <i class="fa-solid fa-download"></i>
              download CV&nbsp;&nbsp;
            </a>
          </div>
        </div>
        <div class="socmed">
          <div class="socmed-header">social media</div>
          <div class="socmed-icon">
            <a href="#">
              <i class="fa-brands fa-linkedin-in fa-3x"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter fa-3x"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram fa-3x"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-facebook fa-3x"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-post">
        <div class="card-photo">
          <img src="./assets/images/photo.jpg" alt="My Selfie" title="My Selfie" />
        </div>
        <div class="card-caption">
          <h3>Muhammad Rizal</h3>
          <p>Fullstack Developer</p>
        </div>
      </div>
    </div>
    {{!-- <section>
      <div class="header">
        <h3>Project Lists</h3>
      </div>
      <div class="projects"></div>
    </section>
    <section>
      <div class="header">
        <h3>Blog Lists</h3>
      </div>
      <div class="blogs"></div>
    </section> --}}
  </main>
</div>
{{#if messages.success}}
    <script>
    Swal.fire({
        title: "Success",
        text: "Berhasil login.",
        icon: "success"
    }); 
    </script>
{{/if}}

{{#if messages.error}}
    <script>
    Swal.fire({
        icon: "error",
        title: "Oops...",
        text: `{{messages.error}}`,
    }); 
    </script>
{{/if}}
{{/layout}}