{{#>layout}}
<div class="container">
    <main>
        <div class="form">
            <form method="post" action="">
                <div class="form-field">
                    <label for="username">Username</label><br/>
                    <input type="text" name="username"/>
                </div>
                <div class="form-field">
                    <label for="password">Password</label><br/>
                    <input type="password" class="form-input" name="password"/>"
                </div>
              <button type="submit" class="form-submit-button">Login</button>
            </form>
        </div>
    </main>
</div>
{{/layout}}