body {
  background-color: #ccc;
  padding: 0px;
  margin: 0px;
}

form {
  margin: 0;
}

a {
  text-decoration: none;
  color: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

main {
  background-color: white;
  margin-top: 30px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #333;
  font-size: large;
}

main.login {
  align-items: center;
}

main > div {
  margin: 20px;
}

.introduction {
  text-align: justify;
  max-width: 70%;
  margin-right: 50px;
}

.button {
  display: flex;
  justify-content: flex-start;
}

.button > div {
  font-size: large;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

.btn-contact {
  cursor: pointer;
  background-color: black;
  border-radius: 20px;
  border: 1px solid #000;
  text-align: center;
}

.btn-contact a {
  color: white;
}

.btn-contact:hover {
  background-color: #2c3e50;
  transition: all 0.2s ease-in-out 0.2s;
}

header {
  background-color: white;
  border-bottom: 1px solid #444;
  padding: 15px;
  display: flex;
  align-items: stretch;
}

nav ul {
  display: flex;
  align-items: stretch;
  margin: 0px;
}

nav li {
  list-style: none;
  padding: 5px;
  vertical-align: middle;
}

nav li.btn-contact {
  padding: 5px 10px;
}

nav li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

nav li a:hover {
  color: darkblue;
}

li.btn-contact:hover {
  background-color: #aaa;
}

.link-active {
  color: orangered;
}

.summary {
  line-height: 1.5;
}

.content {
  display: flex;
  justify-content: start;
}

.icon {
  display: inline;
  text-align: center;
}

.icon img {
  width: 35px;
}

.btn-cv a {
  color: black;
}

.socmed {
  margin: 50px 20px;
  width: 40%;
}

.socmed-header {
  margin-bottom: 30px;
  font-size: 150%;
}

.socmed-icon {
  display: flex;
  justify-content: space-between;
}

.card-post {
  margin-left: 50px;
  width: 20%;
  border: 1px solid #aaa;
  box-shadow: 10px 10px 5px 5px #eee;
  height: 100%;
}

.card-photo img {
  width: 100%;
}

.card-caption {
  text-align: center;
}

.card-caption h3 {
  font-weight: bolder;
  margin-bottom: 0px;
}

.card-caption p {
  margin-top: 5px;
}

/* contact section */

.contact-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form h1 {
  text-align: center;
  font-weight: bolder;
}

.contact-form {
  width: 50%;
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
}

.form-field textarea {
  height: 200px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-checkbox {
  display: flex;
  justify-items: flex-start;
}

.form-check {
  width: 40%;
  margin-right: 10px;
}

.form-input {
  border-radius: 5px;
  border: 1px solid #444;
  padding: 10px;
  height: 50px;
  font-size: larger;
  box-sizing: border-box;
}

input {
  padding: 10px;
}

.upload-image-project {
  width: 100%;
  border: 1px solid #444;
  box-sizing: border-box;
  padding: 8px;
}

.upload-image-project label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-submit-button {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 20px;
  float: right;
  height: 50px;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease-in-out 0.3s;
}

.form-date {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.input-date {
  width: 50%;
  display: flex;
  align-items: center;
}

.input-date label {
  width: 30%;
  margin-right: 30px;
}

.input-date input {
  width: 62%;
}

.form-text {
  height: 150px;
}

section {
  background-color: #ecf0f1;
}

.post-add {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

/** Project post stykes**/

.project-post {
}

.post-header h2 {
  text-align: center;
  font-size: 200%;
}

.main-post {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.post-item {
  width: 30%;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  height: 100%;
  word-wrap: break-word;
  overflow: hidden;
}

.post-thumbnail {
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.post-thumbnail img {
  width: 100%;
}

.post-title h2 {
  margin: 0px;
}

.post-time {
  margin-bottom: 20px;
}

.post-time span {
  margin: 0px;
  font-size: 0.8rem;
  color: gray;
  font-weight: 400;
}

.post-title a {
  color: #2c3e50;
  font-size: larger;
}

.post-summary {
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post-summary span {
  overflow: hidden;
  margin: 0px;
  height: 100%;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.post-category {
  margin: 20px 0px;
  height: 100%;
}

.post-category span {
  border: 1px solid #c4c4c4;
  padding: 5px;
  margin-right: 5px;
}

.post-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-button a,
.post-button button {
  margin-top: 10px;
  background-color: #2c3e50;
  display: inline-block;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.post-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.post-header h1 {
  text-align: center;
  font-size: 300%;
  margin-bottom: 10px;
}

.post-detail {
  display: flex;
  justify-content: start;
}

.post-image {
  width: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.post-image img {
  width: 100%;
}

.post-meta {
  font-size: 2em;
  margin: 0px 20px;
}

.post-meta h4 {
  margin: 0px;
  font-weight: bolder;
}

.post-meta-technologies {
  margin-top: 30px;
}

.post-meta p {
  margin: 30px 0px;
}

.post-categories {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-categories span {
  border: 1px solid #c4c4;
  padding: 10px;
  width: 40%;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.post-description {
  font-size: 1.5em;
  line-height: 1.5;
}

.button-delete {
  background-color: darkred !important;
  cursor: pointer;
}

.button-detail {
  background-color: darkblue !important;
}

.post-add-button {
  background-color: #197292;
  margin-left: 10px;
  padding: 10px;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #cecece;
}
.post-add-button:hover {
  background-color: #16453e;
}
.post-add-button a {
  color: #ede7e1;
}
.container section {
  margin-top: 20px;
}

span.userlogin {
  font-size: 150%;
}
/** end post styles **/

/** auth styling **/
.form-auth {
  width: 60%;
  margin: 0 auto;
}

/** form upload **/
.form-upload {
}

.image-upload {
}

/** testimonial **/
.card-testimonial {
  width: 300px;
}

/** footer **/
footer {
  font-size: 150%;
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  margin-top: 20px;
}
